.languages{
        display: flex;
        flex-direction: row;
}
    .nav-flex-icons{
        display: flex;
        flex-direction: row;
    }
.row .col-xs-2 .col-xs-7 .col-xs-3 {
    display: block;
}
.header{
    background: url(/webResume/Assets/photo-of-starry-night.jpg) no-repeat center center fixed;
    background-size: cover;
    width: 100wv;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
      /*background-size: cover;*/
    
}
#header-wrapper{
  margin-top:5%;
}

.language{
    margin-top: 0.3em;
    margin-left: 0.5em;
}

.language img{
    width: 45px;
}

.language img:hover{
    transform: scale(1.15);
    transition: all 0.5s ease-in-out;
}


.content {
    width: 100%;
    padding-right: 5%;
    padding-left: 5%;
    margin-right: auto;
    margin-left: auto;
}
body{
    background: url(/webResume/Assets/dot-grid.png) repeat;
}

.rounded-circle{
    
    width: 20vw;
    border: 3px solid;
    border-color: #152123;
    
}
.rounded-circle:hover {
  transform: scale(1.05);
  filter:opacity(30%);
  transition: all 1s ease-in-out;
    
  
}

h1 {
    margin: 20px;
    
}


.lead {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1.15rem;
}
#row1{
    margin-top: 2rem;
}
#data-kierownik{
    padding-top: 5rem
}
#data-pm{
    padding-top: 11rem;
}
#data-ats{
    padding-top: 11.2rem;
}
#data-konstrukcja{
    padding-top: 9rem;
}
#data-meil{
    padding-top: 8.5rem;
}
#data-wip{
    padding-top: .5rem;
}

#stanowisko{
    display: flex;
}
#stanowisko p{
    padding-right: 1.8rem;
    margin-left: -5.8rem;
}

/* ustawienie marginesow gornych dla kolumn*/



/*usunięcie znaczników w liście*/

.row5 .col-lg-8 ul{
    list-style-type: none;
}
i{
    color: azure;
}
i:hover{
    color: darkgray;
}

a:link {
  color: azure;
}
a:hover {
  color: darkgray;
  text-decoration: none;
}
#col1_1{
        padding-left: 0;
        padding-right: 0;
}

@media (max-width: 991px){
    .rounded-circle{
    
    width: 180px;
    }
    /*.lead{
        font-size: 1rem;*/
    
    h1{
        font-size: 2.2rem;
    }
    h2{
        font-size: 2.0rem;
    }
    h3{
        font-size: 1.4rem;
    }
    h4{
        font-size: 1.2rem;
    }

    p{
        font-size: 0.8rem
}
li{
    font-size: .9rem;
}
    #col1_1{
        padding-left: 0;
        padding-right: 0;      
}
    #stanowisko p{
    padding-right: 1.0rem;
    margin-left: -4.2rem
}

}
@media (max-width: 767px){
     .nav-icon{
        margin-right: 1.5rem;
        margin-left: 0.5rem
    }
}

